* {
margin:0px;
padding:0px;

}
 select, textarea, a.art-search-button span {
     width: 90%;
    padding: 10px 12px;
    font-size: 12pt;
    border: 1px solid #585858;
	font-family: "Oswald", sans-serif;	
	margin: 10px auto;
}
.test {
	color:red;
}
div#wrapper {
    width: 1000px;
    margin: 0px auto;
}

.h2_form {
    font-weight: 600;
    font-size: 19pt;
    color: #404040;
	    text-transform: uppercase;
}
.h3_form {
    font-weight: 500;
}
.inputareas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inputareas > input {
    width: 32%;
}
.style1 .text_form1 {
    width: 100%;
	font-size: 12pt;
    padding: 7px 0px 0px 6px;
	margin-bottom: 16px;
	border: 2px solid #909090;
}

.style1 input {
    width: 100%;
    padding: 10px 12px;
    font-size: 13pt;
	font-family: "Oswald", sans-serif;
    border: 1px solid #585858;

} 
.inputareas > input {
    width: 29%;
    padding: 10px 5px;
    font-size: 12pt;
	margin-bottom: 16px;
    margin-top: 17px;
	border: 2px solid #909090;
}
.style1 .submit {
    cursor: pointer;
    font-size: 12pt;
    text-transform: uppercase;
    background: #434547;
    color: white;
    border: 1px solid #909090;
    display: block;
}
.style1 .submit:hover {
    background: #d61414;
}
form.style1 {
    height: 100%;
}
input.files {
    font-size: 12pt;
    margin-top: 9px;
}
.style2 input {
     width: 90%;
    padding: 10px 12px;
    font-size: 12pt;
    border: 1px solid #585858;    
	font-family: "Oswald", sans-serif;	
	margin: 10px auto;
}
.style2 .submit:hover {
    background: #585858;
    color: #fff;
}
.style2 .submit {
    background: #00b93e;
    color: #fff;
    text-transform: uppercase;
	font-family: "Oswald", sans-serif;	
    width: 100%;
	cursor:pointer;
}
.style2 .h3_form {
    width: 265px;
}




div#bo {
    display: flex;
    justify-content: space-between;
}
form.style3 {
    width: 260px;
    background-image: url('http://artemsivak.name/lessons/forms/backgroundform.jpg');
    height: 250px;
    padding-top: 16px;
}
.style3 input {
    width: 200px;
    display: block;
    margin: 15px auto;
    padding: 7px 0px 7px 6px;
    font-size: 12pt;
}
.style3 .submit {
    width: 208px;
    text-transform: uppercase;
    background: #CA0404;
    color: white;
    border: 0px solid black;
    padding: 11px 0px;
    cursor: pointer;
}